Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, test:client, test:server

build:client:
  before_script:
  - docker info
  stage: build
  script:
  - cd client
  - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
  before_script:
  - docker info
  stage: build
  script:
  - cd server
  - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

test:client:
  before_script:
  - docker info
  stage: test
  needs:
  - build:client
  script:
  - cd client
  - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
  before_script:
  - docker info
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

Resolved MR comments
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Added linter config
  client/.editorconfig
  client/.eslintrc.json
  client/.prettierrc.yaml
  client/package-lock.json
  client/package.json
Due: build:client, test:client

Improved linters
  client/.eslintignore
  client/.eslintrc.json
  client/.prettierignore
  client/angular.json
  client/package.json
Due: build:client, test:client

Added server formater
  server/format.py
  server/pyproject.toml
  server/requirements.txt
Due: build:server, test:server

Added gitlab-ci lint jobs
  .gitlab-ci.yml
  server/Dockerfile
Due: build:server, test:server

Added lint target for client
  client/Dockerfile
Due: build:client, test:client

Add return to base button
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.ts
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:client, build:server, test:client, test:server

Add return state
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
Due: build:server, test:server

Merge branch
  server/src/clients/drone_clients/simulation_drone_client.py
Due: build:server, test:server

Feature - map with drone position
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.spec.ts
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/mapdrone.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.ts
  client/src/styles.css
  server/config.yml
  server/src/classes/events/mapInfo.py
  server/src/controllers/drone_info_controller.py
  server/src/services/mapping_service.py
Due: build:client, build:server, test:client, test:server

Fix UI map bugs
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

ADD - Mission info history
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/component/command-history-panel/command-history-panel.component.css
  client/src/app/component/command-history-panel/command-history-panel.component.html
  client/src/app/component/command-history-panel/command-history-panel.component.spec.ts
  client/src/app/component/command-history-panel/command-history-panel.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/log/log.component.html
  client/src/app/component/main-page/main-page.component.css
  client/src/app/component/main-page/main-page.component.html
  client/src/app/component/main-page/main-page.component.spec.ts
  client/src/app/component/main-page/main-page.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/mission/mission.service.ts
  server/app.py
  server/src/classes/events/mission.py
  server/src/services/command_service.py
  server/src/services/database_service.py
  server/src/services/mission_service.py
  server/tests/controllers/test_mission_controller.py
  server/tests/services/test_command_service.py
Due: build:client, build:server, test:client, test:server

Add disabled buttons
  client/src/app/component/map/map.component.css
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Make drone selection bar prettier
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
Due: build:client, test:client

Fix color scheme
  client/src/app/component/drone-panel/drone-panel.component.css
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/styles.css
Due: build:client, test:client

Fix drone panel
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Fix log panel
  client/src/app/component/drone-panel/drone-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/log/log.component.css
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Feature/map obstacle
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  server/src/classes/events/mapInfo.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/mapping_service.py
Due: build:client, build:server, test:client, test:server

Updated client README.md
  client/README.md
  server/README.md
Due: build:client, build:server, test:client, test:server

Fix map resize
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Updated README.md
  server/README.md
Due: build:server, test:server

Fix tests
  client/src/app/component/mission-page/mission-page.component.spec.ts
Due: build:client, test:client

Fix log boxe
  client/src/app/component/drone-panel/drone-panel.component.css
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/log/log.component.css
  client/src/app/component/log/log.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/styles.css
Due: build:client, test:client

Finish log box
  client/src/app/component/log/log.component.css
  client/src/app/component/log/log.component.html
Due: build:client, test:client

Added root level readme
  README.md
Due: none

Minor formating improvements
  client/README.md
  server/README.md
Due: build:client, build:server, test:client, test:server

Fix history info formatting
  client/src/app/component/history-panel/history-panel.component.html
Due: build:client, test:client

Added return_to_base in abstract class
  server/src/clients/abstract_swarm_client.py
Due: build:server, test:server

Remove duplicated code from mission_service
  server/src/services/command_service.py
  server/src/services/mission_service.py
Due: build:server, test:server

Added drone_syncer
  server/src/classes/events/mapInfo.py
  server/src/clients/drone_syncer.py
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Bugfixes and test fix
  server/src/clients/drone_syncer.py
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Added return to base call
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Fixed status order
  server/src/clients/abstract_swarm_client.py
Due: build:server, test:server

Fixed format
  server/pyproject.toml
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Fix firmware panel
  client/src/app/component/code-editor/code-editor.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
Due: build:client, test:client

Displaying phisycal drone on map
  client/src/app/component/map/map.component.ts
  server/src/classes/distance.py
  server/src/classes/position.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/mapping_service.py
Due: build:client, build:server, test:client, test:server

Fix broken mission Ids
  client/src/app/component/history-panel/history-panel.component.ts
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.ts
Due: build:client, test:client

Added position addapter
  server/config.yml
  server/src/classes/distance.py
  server/src/classes/position.py
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/position_adapter.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Updated controllers
  server/src/controllers/action_controller.py
  server/src/services/command_service.py
Due: build:server, test:server

Added position setter to ui
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
Due: build:client, test:client

Path conditions:
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
