Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, test:client, test:server

.gitlab-ci.yml:

image: docker:22.06-rc

.only-client: &only-client
    only:
        refs:
            - merge_requests
        changes:
            - client/**/*
    before_script:
        - docker info

.only-server: &only-server
    only:
        refs:
            - merge_requests
        changes:
            - server/**/*
    before_script:
        - docker info

stages:
    - build
    - test

build:client:
    stage: build
    <<: *only-client
    script:
        - cd client
        - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
    stage: build
    <<: *only-server
    script:
        - cd server
        - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

test:client:
    stage: test
    needs: ["build:client"]
    <<: *only-client
    script:
        - cd client
        - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
    stage: test
    needs: ["build:server"]
    <<: *only-server
    script:
        - cd server
        - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

Added docker-compose.db.yml
  server/docker-compose.db.yml
Due: build:server, test:server

Updated readme
  server/README.md
  server/src/classes/events/event.py
Due: build:server, test:server

correct copy command in dockerfile
  client/Dockerfile
Due: build:client, test:client

Feature/getstatus getpos
  client/angular.json
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/component/drone-panel/drone-panel.component.css
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/drone-panel/drone-panel.component.spec.ts
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/main-page/main-page.component.ts
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.spec.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/polyfills.ts
  client/yarn.lock
  server/src/application.py
  server/src/container.py
  server/src/controllers/drone_info_controller.py
Due: build:client, build:server, test:client, test:server

Feature/get position
  client/Dockerfile
  client/src/app/services/drone-info/drone-info.service.ts
  server/README.md
  server/protos/simulation.proto
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/mission_controller.py
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

added basic canvas
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Logging position and range data
  server/.idea/backend.iml
  server/.idea/misc.xml
  server/src/classes/distance.py
  server/src/classes/events/log.py
  server/src/classes/events/metric.py
  server/src/classes/position.py
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Fixed unit tests
  server/.idea/runConfigurations/Tests.xml
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Resolved MR comments
  server/.idea/backend.iml
  server/.idea/runConfigurations/Tests.xml
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Updated classes
  server/src/classes/events/event.py
  server/src/classes/events/log.py
  server/src/classes/events/metric.py
  server/src/classes/events/mission.py
  server/src/classes/mapping_point.py
Due: build:server, test:server

Added new data services
  server/src/services/command_service.py
  server/src/services/logging_service.py
  server/src/services/mapping_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Added to new services to container
  server/app.py
  server/src/container.py
  server/src/exceptions/__init__.py
  server/src/services/logging_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Enabled physical_swarm_client callbacks
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Added editor config
  server/.editorconfig
Due: build:server, test:server

Removed MappingPoint dataclass
  server/src/classes/mapping_point.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Basic mapping service implementation
  server/src/services/mapping_service.py
Due: build:server, test:server

Minor logging and telemetric service improvements
  server/config.yml
  server/src/container.py
  server/src/services/database_service.py
  server/src/services/logging_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Bugfixes
  server/app.py
  server/config.yml
  server/src/classes/distance.py
  server/src/clients/physical_swarm_client.py
  server/src/container.py
  server/src/services/logging_service.py
  server/src/services/mapping_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Add error to validate
  server/app.py
Due: build:server, test:server

Resolve a few TODOs for logging service
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/logging_service.py
  server/src/services/mission_service.py
Due: build:server, test:server

Feature/logging
  client/src/app/app.module.ts
  client/src/app/component/log/log.component.css
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.spec.ts
  client/src/app/component/log/log.component.ts
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/yarn.lock
  server/src/classes/events/log.py
  server/src/controllers/database_controller.py
  server/src/controllers/drone_info_controller.py
Due: build:client, build:server, test:client, test:server

Added db calls to telemetrics service
  server/src/container.py
  server/src/services/database_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Add config and fix injections
  server/app.py
  server/config.yml
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Add logging service remaining functions
  server/src/services/logging_service.py
Due: build:server, test:server

Add logging to container
  server/src/container.py
Due: build:server, test:server

Updated CommandService
  server/src/services/command_service.py
Due: build:server, test:server

canvas resizes with page
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Adapted controller implementations
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/mission_controller.py
  server/src/services/command_service.py
  server/src/services/logging_service.py
Due: build:server, test:server

Added history controller
  server/src/application.py
  server/src/controllers/history_controller.py
Due: build:server, test:server

ADD - Receive telemetric drone data
  server/.idea/backend.iml
  server/.idea/misc.xml
  server/.idea/runConfigurations/Tests.xml
  server/requirements.txt
  server/src/classes/distance.py
  server/src/classes/events/log.py
  server/src/classes/events/metric.py
  server/src/classes/position.py
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

map gets resized with canvas
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Remove unused config parameter
  server/config.yml
Due: build:server, test:server

Fix small errors and cleanup TODOs
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/container.py
Due: build:server, test:server

Get missions from DB
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/services/database_service.py
  server/src/services/mission_service.py
Due: build:server, test:server

Bug fixesss
  server/app.py
  server/config.yml
  server/docker-compose.db.yml
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/container.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/history_controller.py
  server/src/services/command_service.py
  server/src/services/database_service.py
  server/src/services/logging_service.py
  server/src/services/mapping_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Add frontend mission-id support
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.ts
  client/src/app/component/main-page/main-page.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.spec.ts
  client/src/app/services/mission/mission.service.ts
  server/src/classes/events/log.py
  server/src/classes/events/mission.py
  server/src/container.py
  server/src/controllers/mission_controller.py
  server/src/services/command_service.py
  server/tests/controllers/test_mission_controller.py
  server/tests/services/test_command_service.py
Due: build:client, build:server, test:client, test:server

Fixed errors in server client communication
  client/src/app/services/drone-info/drone-info.service.ts
  server/src/controllers/database_controller.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/history_controller.py
  server/src/services/telemetrics_service.py
Due: build:client, build:server, test:client, test:server

Fixed some tests
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Fixed more tests
  server/config.yml
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
  server/tests/controllers/test_mission_controller.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

Change docker compose port
  server/docker-compose.db.yml
Due: build:server, test:server
