Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, test:client, test:server

build:client:
  before_script:
  - docker info
  stage: build
  script:
  - cd client
  - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
  before_script:
  - docker info
  stage: build
  script:
  - cd server
  - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

test:client:
  before_script:
  - docker info
  stage: test
  needs:
  - build:client
  script:
  - cd client
  - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
  before_script:
  - docker info
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

Fixed forgotten lines
  server/app.py
Due: build:server, test:server

Add bootstrap responsive design
  client/angular.json
  client/package-lock.json
  client/package.json
  client/src/app/component/main-page/main-page.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/yarn.lock
Due: build:client, test:client

added commands to send to server from client
  client/angular.json
  client/src/app/app.module.ts
  client/src/app/component/main-page/main-page.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
Due: build:client, test:client

add identify button
  client/src/app/app.module.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
Due: build:client, test:client

send drones id with identify
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
Due: build:client, test:client

Implemented rest calls
  client/src/app/app-routing.module.ts
  client/src/app/component/main-page/main-page.component.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
  server/app.py
  server/src/controllers/action_controller.py
  server/src/controllers/discover_controller.py
  server/src/controllers/mission_controller.py
  server/src/controllers/web_controllers.py
  server/src/services/startup_service.py
Due: build:client, build:server, test:client, test:server

Implemented uris list on UI
  client/src/app/app.module.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/app.py
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

Removed asyncio for GRPC
  server/app.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Updated README.md
  server/README.md
Due: build:server, test:server

Fix format
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/app.py
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

Added IS_SIMULATION variable to server Dockerfile
  server/.idea/runConfigurations/Dockerfile_run.xml
  server/Dockerfile
  server/app.py
  server/src/controllers/web_controllers.py
Due: build:server, test:server

Fixed unit tests
  client/.idea/runConfigurations/Dockerfile_run.xml
  client/.idea/runConfigurations/Dockerfile_test.xml
  client/.idea/runConfigurations/Run.xml
  client/.idea/runConfigurations/Tests.xml
  client/src/app/component/mission-page/mission-page.component.spec.ts
  server/.idea/runConfigurations/Dockerfile_test.xml
  server/.idea/runConfigurations/Run_Flask.xml
  server/.idea/runConfigurations/Tests.xml
  server/requirements.txt
Due: build:client, build:server, test:client, test:server

Added simulation mode in interface title
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/app.py
Due: build:client, build:server, test:client, test:server

Only showing enabled buttons
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Change IS_SIMULALTION variable cast
  server/app.py
Due: build:server, test:server

Resolved MR comments
  server/src/clients/drone_clients/simulation_drone_client.py
Due: build:server, test:server

Ajout de README.md
  client/README.md
  server/README.md
Due: build:client, build:server, test:client, test:server

Add dynamic color scheme
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/styles.css
Due: build:client, test:client

fixed typos
  client/README.md
Due: build:client, test:client

correction du ReadMe avec instructions pour environment virtuel
  server/.gitignore
  server/Dockerfile
  server/README.md
Due: build:server, test:server

untrack yarn.lock
  client/.gitignore
  client/.yarnrc.yml
  client/README.md
  client/yarn.lock
Due: build:client, test:client

Now using swarm api
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/abstract_drone_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/services/command_service.py
Due: build:server, test:server

Added server healthcheck
  server/Dockerfile
Due: build:server, test:server

Simulation adapted to swarm api
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Added start and end mission implementations for physical drone
  client/src/app/component/mission-page/mission-page.component.html
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
Due: build:client, build:server, test:client, test:server

Pipeline now pushes images on merge
  .gitlab-ci.yml
Due: none

Ensure push pipeline stage only run on x86 machines
  .gitlab-ci.yml
Due: none

Added force end mission and updated swarm parameters
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/mission_controller.py
Due: build:client, build:server, test:client, test:server

Fixed unused command_service
  server/src/controllers/mission_controller.py
  server/src/services/command_service.py
Due: build:server, test:server

Feature/server decollage
  client/src/app/component/mission-page/mission-page.component.html
  server/app.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/controllers/action_controller.py
  server/src/controllers/mission_controller.py
  server/src/exceptions/custom_exception.py
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

Resolve comment and delete unnecessary line
  server/README.md
Due: build:server, test:server

Prepare for tests
  server/Dockerfile
  server/app.py
  server/config.yml
  server/requirements.txt
  server/src/application.py
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/config.py
  server/src/container.py
  server/src/controllers/action_controller.py
  server/src/controllers/discover_controller.py
  server/src/controllers/mission_controller.py
  server/src/controllers/server_status_controller.py
  server/src/injector.py
  server/src/services/command_service.py
  server/src/services/startup_service.py
  server/tests/conftest.py
  server/tests/controllers/controllers_test.py
  server/tests/controllers/test_action_controller.py
Due: build:server, test:server

Feature/add tests
  server/Dockerfile
  server/requirements.txt
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/controllers/discover_controller.py
  server/src/controllers/mission_controller.py
  server/src/controllers/server_status_controller.py
  server/src/exceptions/hardware_exception.py
  server/src/services/command_service.py
  server/tests/clients/test_physical_swarm_client.py
  server/tests/clients/test_simulation_drone_client.py
  server/tests/controllers/test_action_controller.py
  server/tests/controllers/test_discover_controller.py
  server/tests/controllers/test_mission_controller.py
  server/tests/controllers/test_server_status_controller.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

change budget warnings and errors
  client/angular.json
Due: build:client, test:client

Revert "untrack yarn.lock"
  client/.gitignore
  client/.yarnrc.yml
  client/README.md
  client/yarn.lock
Due: build:client, test:client

fixed unit tests
  server/app.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/container.py
  server/tests/clients/test_physical_swarm_client.py
  server/tests/conftest.py
Due: build:server, test:server

Added dataclasses
  server/src/classes/events/__init__.py
  server/src/classes/events/event.py
  server/src/classes/events/log.py
  server/src/classes/events/mission.py
Due: build:server, test:server

Fixed dicovery
  server/src/services/command_service.py
Due: build:server, test:server

Added DatabaseService
  server/config.yml
  server/requirements.py
  server/requirements.txt
  server/src/container.py
  server/src/services/database_service.py
Due: build:server, test:server

Path conditions:
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
