Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, test:client, test:server

build:client:
  before_script:
  - docker info
  stage: build
  script:
  - cd client
  - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
  before_script:
  - docker info
  stage: build
  script:
  - cd server
  - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

test:client:
  before_script:
  - docker info
  stage: test
  needs:
  - build:client
  script:
  - cd client
  - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
  before_script:
  - docker info
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

variable rename
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

yarn lock
  client/yarn.lock
Due: build:client, test:client

Fix tests
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

variable drone position
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

created map component
  client/src/app/app.module.ts
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.spec.ts
  client/src/app/component/map/map.component.ts
Due: build:client, test:client

Client integration with big MR
  client/src/app/component/drone-panel/drone-panel.component.css
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/log/log.component.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/drone-info/drone-info.service.ts
  server/src/application.py
  server/src/classes/events/metric.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/history_controller.py
  server/src/controllers/mission_controller.py
  server/src/services/logging_service.py
  server/src/services/telemetrics_service.py
Due: build:client, build:server, test:client, test:server

Feature/telemetric simulation
  client/package.json
  server/docker-compose.db.yml
  server/protos/simulation.proto
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:client, build:server, test:client, test:server

separate components
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

QA
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Logging commands
  server/src/container.py
  server/src/services/command_service.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

Logging position and distances
  server/src/classes/distance.py
  server/src/classes/position.py
  server/src/services/logging_service.py
  server/src/services/mapping_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

deleted yarn.lock
  client/.gitignore
  client/yarn.lock
Due: build:client, test:client

dockerfile fix
  client/Dockerfile
Due: build:client, test:client

Bugfixes
  server/src/classes/position.py
  server/src/services/command_service.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

Add total distance
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Add mission logging history in frontend
  client/src/app/component/log/log.component.css
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.spec.ts
  client/src/app/component/log/log.component.ts
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/mission/mission.service.ts
  client/src/styles.css
Due: build:client, test:client

Fix overflow
  client/src/app/component/log/log.component.css
  server/config.yml
Due: build:client, build:server, test:client, test:server

dernier version
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Fix sizing issues
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

ADD - Simulation logging
  server/protos/simulation.proto
  server/src/classes/distance.py
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/command_service.py
  server/src/services/mission_service.py
  server/tests/services/test_command_service.py
Due: build:server, test:server

Change timestamps to human-readable format
  client/src/app/component/log/log.component.html
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

Make UI Loi 101 compliant
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.ts
Due: build:client, test:client

Fixed number formatting
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/log/log.component.html
Due: build:client, test:client

Syncing mission across taba
  client/.editorconfig
  client/src/app/services/mission/mission.service.ts
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/mission_controller.py
Due: build:client, build:server, test:client, test:server

Fix deamon thread blocking
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Hotfix/map layout
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Add responsive text
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

add information to run in read me
  server/README.md
Due: build:server, test:server

remove duplicated docker instruction
  server/README.md
Due: build:server, test:server

Added compiler proto
  server/protos/compiler.proto
  server/requirements.py
  server/src/services/remote_compiler_service.py
Due: build:server, test:server

Integrate DB to frontend
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.spec.ts
  client/src/app/component/log/log.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.ts
  server/src/controllers/drone_info_controller.py
  server/src/controllers/mission_controller.py
  server/src/services/database_service.py
  server/src/services/mission_service.py
Due: build:client, build:server, test:client, test:server

Add crash status and callback
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/command_service.py
Due: build:server, test:server

Added flash data
  server/app.py
  server/src/application.py
  server/src/clients/physical_swarm_client.py
  server/src/container.py
  server/src/controllers/firmware_controller.py
  server/src/services/firmware_service.py
  server/src/services/remote_compiler_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Added abstract_firmware_service
  server/src/container.py
  server/src/controllers/firmware_controller.py
  server/src/services/firmware_service/__init__.py
  server/src/services/firmware_service/abstract_firmware_service.py
  server/src/services/firmware_service/disabled_firmware_service.py
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
Due: build:server, test:server

Added remote_compiler_client
  server/src/services/firmware_service/remote_compiler_client.py
Due: build:server, test:server

Linked remote_compiler and firmware_service
  server/config.yml
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/remote_compiler_client.py
Due: build:server, test:server

Defined firmware_service injection
  server/app.py
  server/src/application.py
  server/src/container.py
  server/src/services/firmware_service/abstract_firmware_service.py
  server/src/services/firmware_service/disabled_firmware_service.py
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
  server/src/services/firmware_service/remote_compiler_client.py
Due: build:server, test:server

Updated controllers
  server/src/controllers/firmware_controller.py
  server/src/services/firmware_service/firmware_service.py
Due: build:server, test:server

Always ending sessions
  server/src/services/firmware_service/remote_compiler_client.py
Due: build:server, test:server

Fix tests
  server/config.yml
Due: build:server, test:server

Path conditions:
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
