Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, test:client, test:server

.gitlab-ci.yml:

image: docker:22.06-rc

.only-client: &only-client
    only:
        refs:
            - merge_requests
        changes:
            - client/**/*
    before_script:
        - docker info

.only-server: &only-server
    only:
        refs:
            - merge_requests
        changes:
            - server/**/*
    before_script:
        - docker info

stages:
    - build
    - test

build:client:
    stage: build
    <<: *only-client
    script:
        - cd client
        - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
    stage: build
    <<: *only-server
    script:
        - cd server
        - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

test:client:
    stage: test
    needs: ["build:client"]
    <<: *only-client
    script:
        - cd client
        - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
    stage: test
    needs: ["build:server"]
    <<: *only-server
    script:
        - cd server
        - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

Improved requirements.py
  server/Dockerfile
  server/requirements.py
  server/requirements.txt
Due: build:server, test:server

Added empty firmware components and services
  client/src/app/app.module.ts
  client/src/app/component/code-editor/code-editor.component.css
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.spec.ts
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  client/src/app/services/firmware/firmware.service.spec.ts
  client/src/app/services/firmware/firmware.service.ts
Due: build:client, test:client

Added pane toggle
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, test:client

Remove simulation crash behaviour
  server/src/clients/drone_clients/simulation_drone_client.py
Due: build:server, test:server

File flashing enabled
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  server/src/controllers/firmware_controller.py
Due: build:client, build:server, test:client, test:server

Updated favicon
  client/src/favicon.ico
Due: build:client, test:client

Added code editor modal configuration
  client/.editorconfig
  client/src/app/app.module.ts
  client/src/app/component/code-editor/code-editor.component.css
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/services/firmware/firmware.service.ts
  server/src/services/firmware_service/firmware_service.py
Due: build:client, build:server, test:client, test:server

Code editor enabled
  client/src/app/app.module.ts
  client/src/app/component/code-editor/code-editor.component.css
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  client/src/app/services/firmware/firmware.service.ts
  server/src/controllers/firmware_controller.py
Due: build:client, build:server, test:client, test:server

Added error handling for build requests
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  client/src/app/services/firmware/firmware.service.ts
  client/src/styles.css
Due: build:client, test:client

Added loading spinner
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
Due: build:client, test:client

Added stdout silence to prevent stdout polluting by cflib
  server/src/services/firmware_service/no_compiler_firmware_service.py
Due: build:server, test:server

Fixed tests
  client/src/app/component/code-editor/code-editor.component.spec.ts
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/services/firmware/firmware.service.spec.ts
Due: build:client, test:client

Added logging mutex
  server/src/services/logging_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Added command disabling logic
  server/src/container.py
  server/src/services/command_service.py
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
  server/src/services/mission_service.py
Due: build:server, test:server

Fixed nginx 404 handling
  client/Dockerfile
  client/nginx.conf
Due: build:client, test:client

Added is discovery enabled command
  server/src/controllers/discover_controller.py
Due: build:server, test:server

Added is discovery enabled command
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/discover_controller.py
Due: build:server, test:server

Fixed color in firmware panel
  client/src/app/component/mission-page/mission-page.component.css
Due: build:client, test:client

Added port based discovery for simulation
  server/config.yml
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/container.py
Due: build:server, test:server

Fixed tests
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Prevent discovery from being called on each request
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/discover_controller.py
  server/tests/clients/test_physical_swarm_client.py
  server/tests/controllers/test_discover_controller.py
Due: build:client, build:server, test:client, test:server

Added rate limit to uri
  server/src/clients/physical_swarm_client.py
Due: build:server, test:server

Added toggle sync call
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/action_controller.py
  server/src/services/command_service.py
Due: build:client, build:server, test:client, test:server

Remove backend implementation of crashed state
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Remove unused command
  server/src/services/command_service.py
Due: build:server, test:server

Resolved MR comments
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/mission-page/mission-page.component.html
Due: build:client, test:client

Resolved MR comments
  server/src/services/command_service.py
Due: build:server, test:server

FIX - Service locks
  server/src/container.py
  server/src/controllers/discover_controller.py
  server/src/services/command_service.py
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
  server/src/services/logging_service.py
  server/src/services/mission_service.py
  server/src/services/telemetrics_service.py
Due: build:server, test:server

Solve MR comments
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/physical_drone_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:server, test:server

Add Crashing state
  server/src/clients/abstract_swarm_client.py
Due: build:server, test:server

Add basic return to base in server
  server/config.yml
  server/protos/simulation.proto
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/mission_controller.py
  server/src/services/command_service.py
  server/src/services/mission_service.py
Due: build:server, test:server

Added connect / disconnect commands
  client/src/app/component/mission-page/mission-page.component.css
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/command/command.service.ts
Due: build:client, test:client

Added uris sync
  client/src/app/services/command/command.service.ts
  server/src/controllers/discover_controller.py
Due: build:client, build:server, test:client, test:server

Fixed firmware flash with rate limit
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
Due: build:client, build:server, test:client, test:server

Added logging
  server/app.py
  server/src/application.py
  server/src/clients/abstract_swarm_client.py
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/firmware_service/firmware_service.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
Due: build:server, test:server

Added exception logging
  server/src/clients/simulation_swarm_client.py
  server/src/controllers/action_controller.py
  server/src/controllers/discover_controller.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/firmware_controller.py
  server/src/controllers/mission_controller.py
  server/src/controllers/server_status_controller.py
Due: build:server, test:server

Using __name__ instead of __file__
  server/app.py
  server/src/controllers/action_controller.py
  server/src/controllers/discover_controller.py
  server/src/controllers/drone_info_controller.py
  server/src/controllers/firmware_controller.py
  server/src/controllers/mission_controller.py
  server/src/controllers/server_status_controller.py
  server/src/services/command_service.py
Due: build:server, test:server

Fixed tests
  server/src/clients/abstract_swarm_client.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/services/firmware_service/no_compiler_firmware_service.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, test:server

Fixed unit tests
  client/src/app/component/mission-page/mission-page.component.spec.ts
Due: build:client, test:client
