Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

build:client:
  before_script:
  - docker info
  stage: build
  script:
  - cd client
  - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
  before_script:
  - docker info
  stage: build
  script:
  - cd server
  - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

lint:client:
  before_script:
  - docker info
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  - docker build --target=lint -t="backend-client-lint-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-client-lint-$CI_COMMIT_SHORT_SHA"

lint:server:
  before_script:
  - docker info
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  - docker build --target=lint -t="backend-server-lint-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-server-lint-$CI_COMMIT_SHORT_SHA"

test:client:
  before_script:
  - docker info
  stage: test
  needs:
  - build:client
  script:
  - cd client
  - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
  before_script:
  - docker info
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
  - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

push:server:
  stage: push
  tags:
  - x86
  before_script:
  - docker info
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/server:latest
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker build --target final -t "$IMAGE_NAME" server
  - docker push "$IMAGE_NAME"

push:client:
  stage: push
  tags:
  - x86
  before_script:
  - docker info
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/client:latest
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker build --target final -t "$IMAGE_NAME" client
  - docker push "$IMAGE_NAME"

Add telemetrics service tests
  server/src/services/telemetrics_service.py
  server/tests/services/test_telemetrics_service.py
Due: build:server, lint:server, test:server, push:server

Fixed map on reload
  client/src/app/component/map/map.component.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.ts
Due: build:client, lint:client, test:client, push:client

component test
  client/src/app/component/code-editor/code-editor.component.spec.ts
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/component/history-panel/history-panel.component.spec.ts
  client/src/app/component/log/log.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.spec.ts
Due: build:client, lint:client, test:client, push:client

Add firmware service tests
  server/src/services/firmware_service/firmware_service.py
  server/tests/services/firmware_service/test_firmware_service.py
Due: build:server, lint:server, test:server, push:server

Add ncf tests
  server/tests/services/firmware_service/test_no_compiler_firmware_service.py
Due: build:server, lint:server, test:server, push:server

Add remote compiler client tests
  server/src/services/firmware_service/remote_compiler_client.py
  server/tests/services/firmware_service/test_remote_compiler_client.py
Due: build:server, lint:server, test:server, push:server

Fixed unit tests
  client/src/app/component/drone-panel/drone-panel.component.spec.ts
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/component/map/map.component.spec.ts
  client/src/app/services/command/command.service.spec.ts
  client/src/app/services/command/command.service.ts
  server/src/controllers/discover_controller.py
  server/src/services/mapping_service.py
  server/tests/clients/test_simulation_swarm_client.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

history-panel
  client/src/app/component/history-panel/history-panel.component.spec.ts
Due: build:client, lint:client, test:client, push:client

fix broken test
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.spec.ts
Due: build:client, lint:client, test:client, push:client

Fix fails
  server/tests/services/test_telemetrics_service.py
Due: build:server, lint:server, test:server, push:server

tests finaux pour la carte
  client/src/app/component/map/map.component.spec.ts
Due: build:client, lint:client, test:client, push:client

Minor sync bugfix
  client/src/app/services/command/command.service.ts
  server/src/clients/physical_swarm_client.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

lint client
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/component/app/app.component.html
  client/src/app/component/app/app.component.spec.ts
  client/src/app/component/app/app.component.ts
  client/src/app/component/code-editor/code-editor.component.html
  client/src/app/component/code-editor/code-editor.component.spec.ts
  client/src/app/component/code-editor/code-editor.component.ts
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/drone-panel/drone-panel.component.spec.ts
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/firmware-panel/firmware-panel.component.spec.ts
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  client/src/app/component/history-map/history-map.component.spec.ts
  client/src/app/component/history-map/history-map.component.ts
  client/src/app/component/history-panel/history-panel.component.spec.ts
  client/src/app/component/history-panel/history-panel.component.ts
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.spec.ts
  client/src/app/component/log/log.component.ts
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.spec.ts
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/interface/mapdrone.ts
  client/src/app/services/command/command.service.spec.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.spec.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/firmware/firmware.service.spec.ts
  client/src/app/services/firmware/firmware.service.ts
  client/src/app/services/mission/mission.service.spec.ts
  client/src/app/services/mission/mission.service.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  client/src/index.html
Due: build:client, lint:client, test:client, push:client

Path conditions:
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
  push:server: any of: server/**/*
  push:client: any of: client/**/*
