Repository bourquejulien/INF3995-station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

.gitlab-ci.yml:

image: docker:22.06-rc

.only-client: &only-client
    only:
        refs:
            - merge_requests
        changes:
            - client/**/*
    before_script:
        - docker info

.only-server: &only-server
    only:
        refs:
            - merge_requests
        changes:
            - server/**/*
    before_script:
        - docker info

stages:
    - build
    - lint
    - test
    - push

build:client:
    stage: build
    <<: *only-client
    script:
        - cd client
        - docker build -t "backend-client-$CI_COMMIT_SHORT_SHA" .

build:server:
    stage: build
    <<: *only-server
    script:
        - cd server
        - docker build -t "backend-server-build-$CI_COMMIT_SHORT_SHA" .

lint:client:
    stage: lint
    needs: ["build:client"]
    allow_failure: true
    <<: *only-client
    script:
        - cd client
        - docker build --target=lint -t="backend-client-lint-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-client-lint-$CI_COMMIT_SHORT_SHA"

lint:server:
    stage: lint
    needs: ["build:server"]
    allow_failure: true
    <<: *only-server
    script:
        - cd server
        - docker build --target=lint -t="backend-server-lint-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-server-lint-$CI_COMMIT_SHORT_SHA"

test:client:
    stage: test
    needs: ["build:client"]
    <<: *only-client
    script:
        - cd client
        - docker build --target=test -t="backend-client-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-client-test-$CI_COMMIT_SHORT_SHA"

test:server:
    stage: test
    needs: ["build:server"]
    <<: *only-server
    script:
        - cd server
        - docker build --target=test -t="backend-server-test-$CI_COMMIT_SHORT_SHA" .
        - docker run "backend-server-test-$CI_COMMIT_SHORT_SHA"

push:server:
    stage: push
    tags:
        - x86
    only:
        refs:
            - main
        changes:
            - server/**/*
    before_script:
        - docker info
    variables:
        IMAGE_NAME: "$CI_REGISTRY_IMAGE/server:latest"
    script:
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
        - docker build --target final -t "$IMAGE_NAME" server
        - docker push "$IMAGE_NAME"

push:client:
    stage: push
    tags:
        - x86
    only:
        refs:
            - main
        changes:
            - client/**/*
    before_script:
        - docker info
    variables:
        IMAGE_NAME: "$CI_REGISTRY_IMAGE/client:latest"
    script:
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
        - docker build --target final -t "$IMAGE_NAME" client
        - docker push "$IMAGE_NAME"

Fixed tests
  server/src/clients/physical_swarm_client.py
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, lint:server, test:server, push:server

Resolved MR comments
  README.md
  client/README.md
Due: build:client, lint:client, test:client, push:client

Added Crashing state
  server/src/clients/abstract_swarm_client.py
Due: build:server, lint:server, test:server, push:server

Fix history panel
  client/src/app/component/history-panel/history-panel.component.css
  client/src/app/component/history-panel/history-panel.component.html
  client/src/app/component/history-panel/history-panel.component.ts
Due: build:client, lint:client, test:client, push:client

Resolved mr comments
  client/src/app/component/map/map.component.ts
Due: build:client, lint:client, test:client, push:client

Add command service tests
  client/karma.conf.js
  client/package-lock.json
  client/package.json
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.spec.ts
  client/src/app/services/command/command.service.ts
Due: build:client, lint:client, test:client, push:client

--amend
  client/karma.conf.js
Due: build:client, lint:client, test:client, push:client

--amend
  client/src/app/services/command/command.service.ts
Due: build:client, lint:client, test:client, push:client

Add drone-info service tests
  client/src/app/services/drone-info/drone-info.service.spec.ts
  client/src/app/services/drone-info/drone-info.service.ts
Due: build:client, lint:client, test:client, push:client

Add firmware service tests
  client/src/app/services/firmware/firmware.service.spec.ts
  client/src/app/services/firmware/firmware.service.ts
Due: build:client, lint:client, test:client, push:client

Add mission service tests
  client/src/app/component/map/map.component.spec.ts
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.spec.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/services/mission/mission.service.spec.ts
  client/src/app/services/mission/mission.service.ts
Due: build:client, lint:client, test:client, push:client

--amend
  client/src/app/component/history-panel/history-panel.component.html
Due: build:client, lint:client, test:client, push:client

Add action controller tests
  server/src/controllers/action_controller.py
  server/tests/controllers/test_action_controller.py
Due: build:server, lint:server, test:server, push:server

Add discover controller tests
  server/src/controllers/discover_controller.py
  server/tests/controllers/test_discover_controller.py
Due: build:server, lint:server, test:server, push:server

Add drone-info tests
  server/src/controllers/drone_info_controller.py
  server/tests/controllers/test_drone_info_controller.py
Due: build:server, lint:server, test:server, push:server

Add firmware controller tests
  server/src/controllers/drone_info_controller.py
  server/src/controllers/firmware_controller.py
  server/tests/controllers/test_drone_info_controller.py
  server/tests/controllers/test_firmware_controller.py
Due: build:server, lint:server, test:server, push:server

Add mission controller tests
  server/tests/controllers/test_mission_controller.py
Due: build:server, lint:server, test:server, push:server

Feature/map database
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/component/history-map/history-map.component.css
  client/src/app/component/history-map/history-map.component.html
  client/src/app/component/history-map/history-map.component.spec.ts
  client/src/app/component/history-map/history-map.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/mapdrone.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.ts
  server/src/classes/events/mapDatabase.py
  server/src/classes/vec2.py
  server/src/container.py
  server/src/controllers/drone_info_controller.py
  server/src/services/database_service.py
  server/src/services/mapping_service.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

Add simulation drone client tests
  server/src/clients/drone_clients/simulation_drone_client.py
  server/tests/clients/drone_clients/test_simulation_drone_client.py
  server/tests/clients/test_simulation_drone_client.py
Due: build:server, lint:server, test:server, push:server

Add physical drone client tests
  server/tests/clients/drone_clients/test_physical_drone_client.py
  server/tests/clients/drone_clients/test_simulation_drone_client.py
Due: build:server, lint:server, test:server, push:server

Add drone syncer tests
  server/tests/clients/drone_clients/test_physical_drone_client.py
  server/tests/clients/test_drone_syncer.py
Due: build:server, lint:server, test:server, push:server

History ui colors adjustment
  client/src/app/component/history-map/history-map.component.css
  client/src/app/component/history-map/history-map.component.html
  client/src/app/component/history-panel/history-panel.component.html
Due: build:client, lint:client, test:client, push:client

Minor ui improvements
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/map/map.component.css
  client/src/app/component/map/map.component.html
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
Due: build:client, lint:client, test:client, push:client

Add position adapter tests
  server/src/clients/position_adapter.py
  server/tests/clients/test_position_adapter.py
Due: build:server, lint:server, test:server, push:server

Add some simulation swarm client tests
  server/src/clients/simulation_swarm_client.py
  server/tests/clients/test_simulation_swarm_client.py
Due: build:server, lint:server, test:server, push:server

Add command service tests
  server/src/services/command_service.py
  server/tests/services/test_command_service.py
Due: build:server, lint:server, test:server, push:server

Removing drone simulation on disconnect
  server/src/clients/drone_clients/simulation_drone_client.py
  server/src/clients/simulation_swarm_client.py
  server/src/exceptions/simulation_exception.py
Due: build:server, lint:server, test:server, push:server

Disabled firmware flash during mission
  client/src/app/component/firmware-panel/firmware-panel.component.css
  client/src/app/component/firmware-panel/firmware-panel.component.html
  client/src/app/component/firmware-panel/firmware-panel.component.ts
  client/src/app/services/mission/mission.service.ts
Due: build:client, lint:client, test:client, push:client

display batter backend
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/interface/commands.ts
  server/protos/simulation.proto
  server/src/classes/events/metric.py
  server/src/clients/physical_swarm_client.py
  server/src/clients/simulation_swarm_client.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

tests
  server/tests/clients/test_physical_swarm_client.py
Due: build:server, lint:server, test:server, push:server

Add database service tests
  server/requirements.txt
  server/src/services/database_service.py
  server/tests/services/test_database_service.py
Due: build:server, lint:server, test:server, push:server

Add logging service tests
  server/src/services/logging_service.py
  server/tests/services/test_logging_service.py
Due: build:server, lint:server, test:server, push:server

Add mapping service tests
  server/src/services/mapping_service.py
  server/tests/services/test_mapping_service.py
Due: build:server, lint:server, test:server, push:server

Add mission service tests
  server/src/services/mission_service.py
  server/tests/services/test_mission_service.py
Due: build:server, lint:server, test:server, push:server

Displaying connection state
  client/src/app/component/drone-panel/drone-panel.component.html
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/map/map.component.html
  client/src/app/component/map/map.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.ts
  client/src/app/services/drone-info/drone-info.service.ts
  client/src/app/services/mission/mission.service.ts
  server/src/controllers/discover_controller.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

Sync of logs
  client/src/app/component/log/log.component.html
  client/src/app/component/log/log.component.ts
  client/src/app/component/mission-page/mission-page.component.html
  client/src/app/services/command/command.service.ts
  server/src/clients/simulation_swarm_client.py
Due: build:client, build:server, lint:client, lint:server, test:client, test:server, push:server, push:client

Fix comments
  client/src/app/component/drone-panel/drone-panel.component.ts
  client/src/app/component/mission-page/mission-page.component.ts
  client/src/app/interface/commands.ts
  client/src/app/services/command/command.service.spec.ts
  client/src/app/services/command/command.service.ts
Due: build:client, lint:client, test:client, push:client

Correct server README
  server/README.md
Due: build:server, lint:server, test:server, push:server

fix tests
  client/src/app/services/drone-info/drone-info.service.spec.ts
Due: build:client, lint:client, test:client, push:client

tests
  server/tests/services/test_database_service.py
Due: build:server, lint:server, test:server, push:server
